<div class="wrapper">
    <h1><%= t('admin.links.posts') %></h1>

    <div class="export-import">
        <button type="button" class="import-btn" data-toggle="modal" data-target="#myModal">
            Import
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Import posts</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <%= form_tag import_admin_posts_path, multipart: true, remote: true do %>
                            <%= file_field_tag :file %>
                            <div class="modal-footer">
                                <%= submit_tag "Import" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <div class="export">
            <button class="export-btn">Export... 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="export-type">
                <%= link_to 'Export .csv', admin_posts_path(format: 'csv') %>
                <%= link_to 'Export .xls', admin_posts_path(format: 'xls') %>
            </div>
        </div> 
    </div>

    <div class="inbox">
        <div class="inbox-bx container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-stripped">
                        <tr>
                            <th></th>
                            <th><%= t('admin.table_title.title_post') %></th>
                            <th><%= t('admin.table_title.user') %></th>
                            <th><%= t('admin.table_title.date_create') %></th>
                            <th><%= t('admin.table_title.views') %></th>
                        </tr>
                        <% @posts.each do |post| %>
                            <tr>
                                <td><%= link_to(image_tag(post.image.small_thumb.url, alt: 'image post'), post_path(post)) if post.image? %></td>
                                <td><%= link_to post.title.truncate(20), post_path(post), title: post.title %></td>
                                <td><%= current_user.email %></td>
                                <td><%= post.created_at.strftime("%m.%m.%Y  %k:%M") %></td>
                                <td><span class="views"><i class="far fa-eye"></i> <%= post.hits %></span></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
